.logo-container{
  width: 400px;
  height: 609px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15%;
  left: auto;
  margin: auto;
  z-index: 0;
}
.solid-logo{
  position: absolute;
  top: -17px;
  right: auto;
  bottom: auto;
  left: 0;
  height: 680px;
  width: 680px;
  z-index: 1;
}